# Dueños por área
/apps/frontend/ @DionisOctavio @YerayEspinosaEsteban
/apps/frontend/src/cart/ @jesusl0sada
/apps/frontend/src/admin/ @DanielLalanza
/apps/frontend/src/auth/ @DanielLalanza

/apps/backend/ @danilazar06 @MarioCortes9 @jesusl0sada
/apps/backend/src/payments/ @MarioCortes9

/infra/ @ibanezbetes
/docs/ @ibanezbetes @DionisOctavio @YerayEspinosaEsteban
