# Node / general
node_modules/
dist/
.build/
.cache/
.env
.env.*
*.log
.DS_Store

# AWS / IaC
terraform.tfstate*
.cdk.out/
.aws-sam/

# Editor
.vscode/
.idea/

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

.git_local_backup/
debug-token.js
